<h5 class="fw-bold"> 
ูุฑุญุจุง ูู ูุธุงู ุงุฏุงุฑู ุงูููุงุนูุฏ
 ๐ฆ 
</h5>

<%= link_to appointment_manager_path do %>
  <div class="bg-light br-10 p-1 d-inline-block point">
    <%= image_pack_tag 'manager.png', width: 200 %>
    <p class="text-center fw-bold"> ุงููุฏูุฑ </p>
  </div>
<% end %>

  &nbsp;

<%= link_to appointments_path do %>
  <div class="bg-light br-10 p-1 d-inline-block point">
    <%= image_pack_tag 'sec.png', width: 200 %>
    <p class="text-center fw-bold"> ุงูุณูุฑุชุงุฑูู </p>
  </div>
<% end %>
